* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 1rem;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
  box-sizing: border-box;
}

h1 {
  font-weight: 800;
  font-size: 1.5rem;
}

dialog[open] {
  position: absolute;
  width: 200px;
  height: 100px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

dialog::backdrop {
  background-color: rgba(255, 255, 255, 0.3);
}

.modal-wrap {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  font-size: 20px;
}

button {
  background: skyblue;
  border: 0px;
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

#portal {
  position: relative;
}
